.denglu-top-contents .denglu-top-contents-top{
	height: 75px;
}

.denglu-frist2 .denglu-first2-content{
	height: auto;
}

.denglu-frist2{
	height: auto;
}

.denglu-first2-content-top .denglu-top-contents{
	margin-top: 50px;
}
.hasMoreTab .hd li.on{
	color: #323232;
}

.denglu1{
	background: #5596fa;
    border-radius: 25px;
    -o-border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    box-shadow: 0 3px #3f88f9;
}

.focusBox .hd li.on{
	background: #5596fa!important;
}

.jizhu{
	width: auto;
    text-align: left;
    display: inline-block;
    margin-left: 55px;
    float: left;
}

.wangji{
	float: right;
    margin-right: 55px;
    font-size: 12px;
}

.wangji a{
	color: #ff5b20;
}

.wangji a:hover{
	text-decoration: underline;
	color: #f00;
}

.zhuce{
	text-align: center;
}

.xieyi p{
	margin-right: 35px;
}